.create-game {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 95%;
    min-height: calc(100vh - 160px);
    &__title{
      font-weight: bold;
      font-family: 'Russo One', sans-serif;
    }
    &__btns-block{
      display: flex;
      gap: 20px;
    }
    &__button {
      margin: 40px 0;
      min-width: 200px;
    }
    &__price-list{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__cont{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        &__title{
          display: flex;
          gap: 10px;
          justify-content: space-between;
          align-items: center;
          button{
            margin: 0;
          }
        }
    }
  }

  .games{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__item-title{
      width: 15%;
      font-weight: bold;
      font-family: 'Russo One', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__item-small{
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
  
    }
    &_btn{
      width: 150px;
    }
    &__item{
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      width: 100%;
      &_cont{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 15%;
      }
      &_exp{
        display: flex;
        flex-direction: column;
      }
      &_exp-text{
        width: 100%;
      }
    }
  }
  
  .dark-theme{
    .create-game__main-text{
      color: #fffef0;
    }
    .create-game__secondary-text{
      color: #fffef0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .create-game {
      &__main-text {
        font-size: 2.5em;
        max-width: 96vw;
      }
  
      &__secondary-text {
        max-width: 90vw;
      }
    }
  }