.create-game {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 90%;
    min-height: calc(100vh - 160px);
    &__button {
      margin: 40px 0;
      min-width: 200px;
    }
    &__price-list{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__cont{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        &__title{
          display: flex;
          gap: 10px;
          justify-content: space-between;
          align-items: center;
          button{
            margin: 0;
          }
        }
    }
  }
  
  .dark-theme{
    .create-game__main-text{
      color: #fffef0;
    }
    .create-game__secondary-text{
      color: #fffef0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .create-game {
      &__main-text {
        font-size: 2.5em;
        max-width: 96vw;
      }
  
      &__secondary-text {
        max-width: 90vw;
      }
    }
  }